/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: sans-serif;
  font-size: 0.8em;
}
.row {
  max-width: 800px;
  margin-bottom: 10px;
}
.row .row {
  margin-bottom: 0;
}
.row > div {
  background: #eee;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.row > div .row > div {
  background: #fff;
  border-bottom: 1px solid #eee;
}
/* Grid.less */
.row.test-3 {
  *zoom: 1;
}
.row.test-3:before,
.row.test-3:after {
  content: ' ';
  visibility: hidden;
  display: table;
}
.row.test-3:after {
  clear: both;
}
.row.test-3.center,
.row.test-3 .center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row.test-3 img {
  max-width: 100%;
}
.row.test-3 .col-3 {
  clear: both;
  width: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-3 .col-2 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 65.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-3 .col-2.right {
  float: right;
}
.row.test-3 .col-2.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-3 .push-2 {
  margin-left: 67.16666667%;
}
.row.test-3.right .push-2 {
  margin-right: 67.16666667%;
}
.row.test-3 .col-1 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 32.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-3 .col-1.right {
  float: right;
}
.row.test-3 .col-1.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-3 .push-1 {
  margin-left: 33.83333333%;
}
.row.test-3.right .push-1 {
  margin-right: 33.83333333%;
}
@media (max-width: 700px) {
  .row.test-3 .col-2 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-3 .col-2.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-3 .col-1 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-3 .col-1.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-3 .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-3.right .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
/* Grid.less */
.row.test-5 {
  *zoom: 1;
}
.row.test-5:before,
.row.test-5:after {
  content: ' ';
  visibility: hidden;
  display: table;
}
.row.test-5:after {
  clear: both;
}
.row.test-5.center,
.row.test-5 .center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row.test-5 img {
  max-width: 100%;
}
.row.test-5 .col-5 {
  clear: both;
  width: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-5 .col-4 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 79%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-5 .col-4.right {
  float: right;
}
.row.test-5 .col-4.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-5 .push-4 {
  margin-left: 80.5%;
}
.row.test-5.right .push-4 {
  margin-right: 80.5%;
}
.row.test-5 .col-3 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 59%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-5 .col-3.right {
  float: right;
}
.row.test-5 .col-3.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-5 .push-3 {
  margin-left: 60.5%;
}
.row.test-5.right .push-3 {
  margin-right: 60.5%;
}
.row.test-5 .col-2 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 39%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-5 .col-2.right {
  float: right;
}
.row.test-5 .col-2.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-5 .push-2 {
  margin-left: 40.5%;
}
.row.test-5.right .push-2 {
  margin-right: 40.5%;
}
.row.test-5 .col-1 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 19%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-5 .col-1.right {
  float: right;
}
.row.test-5 .col-1.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-5 .push-1 {
  margin-left: 20.5%;
}
.row.test-5.right .push-1 {
  margin-right: 20.5%;
}
@media (max-width: 700px) {
  .row.test-5 .col-4 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-4.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-5 .col-3 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-3.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-5 .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5.right .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-2 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-2.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-5 .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5.right .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-1 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5 .col-1.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-5 .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-5.right .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
/* Grid.less */
.row.test-6 {
  *zoom: 1;
}
.row.test-6:before,
.row.test-6:after {
  content: ' ';
  visibility: hidden;
  display: table;
}
.row.test-6:after {
  clear: both;
}
.row.test-6.center,
.row.test-6 .center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row.test-6 img {
  max-width: 100%;
}
.row.test-6 .col-6 {
  clear: both;
  width: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-5 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 82.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-5.right {
  float: right;
}
.row.test-6 .col-5.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-6 .push-5 {
  margin-left: 83.83333333%;
}
.row.test-6.right .push-5 {
  margin-right: 83.83333333%;
}
.row.test-6 .col-4 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 65.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-4.right {
  float: right;
}
.row.test-6 .col-4.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-6 .push-4 {
  margin-left: 67.16666667%;
}
.row.test-6.right .push-4 {
  margin-right: 67.16666667%;
}
.row.test-6 .col-3 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 49%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-3.right {
  float: right;
}
.row.test-6 .col-3.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-6 .push-3 {
  margin-left: 50.5%;
}
.row.test-6.right .push-3 {
  margin-right: 50.5%;
}
.row.test-6 .col-2 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 32.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-2.right {
  float: right;
}
.row.test-6 .col-2.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-6 .push-2 {
  margin-left: 33.83333333%;
}
.row.test-6.right .push-2 {
  margin-right: 33.83333333%;
}
.row.test-6 .col-1 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 15.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-6 .col-1.right {
  float: right;
}
.row.test-6 .col-1.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-6 .push-1 {
  margin-left: 17.16666667%;
}
.row.test-6.right .push-1 {
  margin-right: 17.16666667%;
}
@media (max-width: 700px) {
  .row.test-6 .col-5 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-5.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-6 .col-4 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-4.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-6 .push-4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6.right .push-4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-3 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-3.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-6 .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6.right .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-2 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-2.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-6 .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6.right .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-1 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6 .col-1.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-6 .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-6.right .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
/* Grid.less */
.row.test-12 {
  *zoom: 1;
}
.row.test-12:before,
.row.test-12:after {
  content: ' ';
  visibility: hidden;
  display: table;
}
.row.test-12:after {
  clear: both;
}
.row.test-12.center,
.row.test-12 .center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row.test-12 img {
  max-width: 100%;
}
.row.test-12 .col-12 {
  clear: both;
  width: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 90.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-11.right {
  float: right;
}
.row.test-12 .col-11.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-11 {
  margin-left: 92.16666667%;
}
.row.test-12.right .push-11 {
  margin-right: 92.16666667%;
}
.row.test-12 .col-10 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 82.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-10.right {
  float: right;
}
.row.test-12 .col-10.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-10 {
  margin-left: 83.83333333%;
}
.row.test-12.right .push-10 {
  margin-right: 83.83333333%;
}
.row.test-12 .col-9 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 74%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-9.right {
  float: right;
}
.row.test-12 .col-9.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-9 {
  margin-left: 75.5%;
}
.row.test-12.right .push-9 {
  margin-right: 75.5%;
}
.row.test-12 .col-8 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 65.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-8.right {
  float: right;
}
.row.test-12 .col-8.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-8 {
  margin-left: 67.16666667%;
}
.row.test-12.right .push-8 {
  margin-right: 67.16666667%;
}
.row.test-12 .col-7 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 57.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-7.right {
  float: right;
}
.row.test-12 .col-7.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-7 {
  margin-left: 58.83333333%;
}
.row.test-12.right .push-7 {
  margin-right: 58.83333333%;
}
.row.test-12 .col-6 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 49%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-6.right {
  float: right;
}
.row.test-12 .col-6.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-6 {
  margin-left: 50.5%;
}
.row.test-12.right .push-6 {
  margin-right: 50.5%;
}
.row.test-12 .col-5 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 40.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-5.right {
  float: right;
}
.row.test-12 .col-5.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-5 {
  margin-left: 42.16666667%;
}
.row.test-12.right .push-5 {
  margin-right: 42.16666667%;
}
.row.test-12 .col-4 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 32.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-4.right {
  float: right;
}
.row.test-12 .col-4.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-4 {
  margin-left: 33.83333333%;
}
.row.test-12.right .push-4 {
  margin-right: 33.83333333%;
}
.row.test-12 .col-3 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-3.right {
  float: right;
}
.row.test-12 .col-3.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-3 {
  margin-left: 25.5%;
}
.row.test-12.right .push-3 {
  margin-right: 25.5%;
}
.row.test-12 .col-2 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 15.66666667%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-2.right {
  float: right;
}
.row.test-12 .col-2.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-2 {
  margin-left: 17.16666667%;
}
.row.test-12.right .push-2 {
  margin-right: 17.16666667%;
}
.row.test-12 .col-1 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 7.33333333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.row.test-12 .col-1.right {
  float: right;
}
.row.test-12 .col-1.pad {
  padding-left: 7px;
  padding-right: 7px;
}
.row.test-12 .push-1 {
  margin-left: 8.83333333%;
}
.row.test-12.right .push-1 {
  margin-right: 8.83333333%;
}
@media (max-width: 700px) {
  .row.test-12 .col-11 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-11.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .col-10 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-10.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-9 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-9.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-8 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-8.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-7 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-7.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-6 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-6.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-5 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-5.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-4 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-4.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-3 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-3.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-2 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-2.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-1 {
    float: none;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12 .col-1.pad {
    padding-left: 7px;
    padding-right: 7px;
  }
  .row.test-12 .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.test-12.right .push-1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
